Brewfile.lock.json
.DS_Store

.config/nvim/plugged/
.config/nvim/plugin/
.config/nvim/undo/

.config/iterm2/AppSupport

.config/github-copilot
.config/filezilla
.config/flutter

.config/configstore

.config/zed/*
!.config/zed/settings.json

.config/containers/
